<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Tiers Web API - </h1>
                <h2>This WebApi project serves simple data to the rest of the UI applications in the solution.</h2>
            </hgroup>
            <p>
                
            </p>
            <p>
                To learn more about ASP.NET Web API visit the
                <a href="http://go.microsoft.com/fwlink/?LinkID=238195" title="ASP.NET Web API Website">ASP.NET Web API Website</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET Web API.
                If you have any questions about ASP.NET Web API, visit
                <a href="http://go.microsoft.com/fwlink/?LinkID=238196" title="ASP.NET Web API Forum">our forums</a>.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>Now that WebApi is loaded, you can try running the other UIs (but don't close this Visual Studio instance):</h3>
        <ol class="round">
            <li class="one">
                <br />
                    <a href="http://localhost:49574">WebForms</a>
                <br />
                <br />
                    <a href="http://localhost:58808">MVC</a>
                <br />
            </li>
            <li class="two">
                <br />
                    <a href="http://localhost:52183">AngularJS</a>
                <br />
                <h5>
                    WinForms (start from Visual Studio)
                </h5>
            </li>
            <li class="three">
                <h5>
                    WPF (start from Visual Studio)
                </h5>
                <h5>
                    Console (start from Visual Studio)
                </h5>
            </li>
        </ol>
    </section>
</div>
